.footer-area {
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.footer-up {
    background-color: rgba(6, 143, 140, 0.9);
    padding-top: 45px;
    z-index: -1;
}

.footer-down {
    background-color:  rgba(6, 143, 140);
    height: 80px;
}

.footer {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    padding: 0px 30px;
}

.footer-down .footer {
    align-items: center;
}

.text-footer {
    color: #fff !important;
    font-size: 18px;
    padding: 0px;
}

.text-footer li {
    list-style: none;
    margin-top: 3px;
    padding-bottom: 3px;
    border-bottom: 1px solid #fff;
}

.text-footer a {
    display: inline-block;
    color: #fff;
    width: 100%;
    text-decoration: none;
    position: relative;
    z-index: 2;
}

.title-footer {
    color: #fff;
    font-size: 20px;
    margin-bottom: 17px;
    font-weight: 600;
}

.footer {
    display: flex;
    justify-content: space-between;
}

/* .footer-app {
    max-width: 285px;
}

.footer-apps {
    display: flex;
}*/

.footer-truyen, .footer-service {
    min-width: 20%;
} 

.footer-media {
    text-align: center;
}

.footer-medias {
    width: 130px;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 40px;
    margin: auto;
}

/* .text-footer a:hover  {
    color: rgba(6, 143, 140, 0.9);
    background-color: #fff;
    transform: translateX(10px);
    transition: 0.5s;
} */

.text-footer a:before {
    content: "";
    position: absolute;
    top: 0;
    left: auto; /*change here*/
    right: 0;/*change here*/
    width: 0;
    height: 100%;
    background-color: #fff;
    transition: .5s;
    z-index: -1;
}

.text-footer a:hover {
    color: rgba(6, 143, 140);
    transform:  translateX(10px);
}

.text-footer a:hover:before {
    width: 100%;
    left: -10px;/*change here*/
    right: auto;/*change here*/
}

