.container {
    max-width: 1400px;
    margin: auto;
    padding: 0px;
}

.mainImg {
    overflow: hidden;
}

p {
    margin: 0px;
    font-family: 'Open Sans';
    font-size: 14px;
}

.header {
    height: 102px;
    background-color: #7CB342;
    display: flex;
    align-items: center;
    padding-right: 140px;
}

.pl {
    padding-left: 140px;
}

.pr {
    padding-right: 220px;
}

.inside-header {
    width: 100%;
    padding-left: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inside-header p {
    width: 350px;
    color: #ffffff;
    padding-left: 51px;
    letter-spacing: 0px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
}

.inside-header input {
    width: 440px;
    height: 24px;
    border: none;
    padding: 18px;
}

.sub-container {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.text-sub {
    width: 650px;
    color: #313131;
    padding: 60px 0px;
}

.non-p {
    padding: 0px;
}

.cata-text {
    font-size: 14px;
    letter-spacing: 2.5px;
    text-transform: uppercase;
}

.header-text {
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0px;
    text-transform: uppercase;
    margin: 10px 0px 20px 0px
}

.header-text b {
    color: #7CB342;
}

.des-text {
    font-size: 18px;
    line-height: 29px;
    letter-spacing: 0px;
    padding-bottom: 10px;
}

.tr {
    text-align: right;
}

.donate-table {
    width: 300px;
}

.header-donate {
    height: 84px;
    background-color: #7CB342;
}

.container-donate {
    padding: 0px 28px;
    padding-bottom: 20px;
}

.container-donate p {
    margin: 15px 0px;
    text-align: center;
}

.a{
    margin: 10px 0px;
}

.btn-donate {
    margin-top: 20px;
}

.btn-donate input{
    background-color: #7CB342;
}

.effect6
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.img-sub {
    position: relative;
}

.effect1{
    -webkit-box-shadow: 10px 0 6px -6px #777;
       -moz-box-shadow: 10px 0 6px -6px #777;
            box-shadow: 10px 0 6px -6px #777;
  }

.table-img-sub {
    width: 220px;
    background-color: #fff;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 40px 35px 35px 35px;
}

.table-img-sub p {
    display: flex;
    align-items: center;
}

.table-img-sub img {
    margin-right: 25px;
}

.table-img-sub hr {
    margin: 12.5px 0px;
    margin-left: -35px;
    width: 220px;
}

.table-sub-2 {
    width: calc(100% - 730px);
    padding: 60px 0px;
    margin-left: 55px;
}

.table-2 {
    padding: 40px 0px;
    padding-left: 35px;
}

.table-sub-tab p:first-child {
    display: flex;
    align-items: center;
}

.table-sub-tab p:last-child {
    display: none;
}

.img-sub-tab {
    width: 50px;
    display: inline-block;
}

.table-sub-tab:first-child p:first-child{
    font-size: 24px;
}

.table-sub-tab:first-child p:last-child {
    display: block;
}

.table-sub-tab:first-child img {
    width: 30px;
}

.text-table-sub {
    width: 290px;
    margin-left: 45px;
    margin-top: 10px;
    margin-bottom: 32px;
}

.effect2{
    -webkit-box-shadow: 0 0 px 6px -4px #777;
       -moz-box-shadow: 0 0px 6px -4px #777;
            box-shadow: 0 0px 10px -4px #777;
}

.table-3 {
    right: -157px;
    bottom: 0px;
}

.add {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 35px;
}

.name {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}

.address {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}

.tab-1 {
    display: none;
}

.btns-submit {
    display: flex;
    justify-content: flex-end;
    margin-top: 45px;
} 

.btn-submit {
    width: 244px;
}

.btn-submit input{
    background-color: #7CB342;
    margin: 0px;   
}

.crsel {
    display: flex;
    align-items: center;
    padding: 150px 140px;
}

.eachslide {
    width: auto;
    margin: 0px 120px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 58px;
    color: #023753;
}

.ctrl-btn {
    width: 120px;
    justify-content: flex-start;
}

.btn2 {
    justify-content: flex-end;
}

.ava-btn {
    height: 90px;
    bottom: -150px;
    margin: 0px 120px;
    color: black;
    justify-content: flex-start;
}

.ava-btn li {
    margin: 0px;
    text-indent: 0px;
    width: auto;
    height: auto; 
    margin: 0px 17.5px;
    display: flex;
    align-items: center;
}

.ava-btn li span {
    margin: 0px 32.5px 0px 17.5px;
    display: none;
}

.ava-btn li:first-child .ava-img::after {
    content:'';
    top: 0;
    left: 0;
    z-index: 10;
    width: 90px;
    height: 100%;
    display: block;
    position: absolute;
    background: #7CB342;
    opacity: 0.6;
    border-radius: 100%;
}

.ava-btn li:first-child span {
    display: block;
}

.name-abc {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 2.4px;
}

.level-abc {
    font-size: 14px;
    line-height: 22px;
}

.footer {
    max-width: 1400px;
    height: 60px;
    background-color: #7CB342;
    display: flex;
    color:#fff;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.footer p:first-child{
    padding-right: 23px;
    margin-right: 23px;
    border-right: 1px solid #fff;
}

@media only screen and (max-width: 1300px) {
    .pr {
        padding-right: 110px;
    }

    .pl {
        padding-left: 70px;
    }

    .eachslide {
        margin: 0px 60px;
    }

    .ctrl-btn {
        width: 60px;
    }
}

@media only screen and (max-width: 1200px) {
    .pr {
        padding-right: 0px;
    }

    .pl {
        padding-left: 0px;
    }
}

@media only screen and (max-width: 1100px) {
    #sub-3 {
        display: block;
    }

    #sub-3 .img-sub {
        width: auto;
        margin-left: 100px;
    }

    #sub-3 .text-sub {
        width: 80%;
        margin: auto;
        margin-top: 10px;
        text-align: left !important;
    }

    .tab-1 {
        display: inline-block;
    }

    .tab-2 {
        display: none;
    }

    .add {
        justify-content: flex-start;
    }

    .btns-submit {
        justify-content: flex-start;
    }

    .table-3 {
        left: 0px;
        bottom: 0px;
    }

    .ava-btn {
        margin: 0px;
    }

    #sub-2 {
        display: block;
        margin-top: 0px;
    }

    #sub-2 div {
        width: 80%;
        margin: auto;
    }

    .table-sub-2 {
        padding-top: 0px;
        border-bottom: 1px solid black;
    }
}

@media only screen and (max-width: 1050px) {
    #sub-1 {
        display: block;
    }

    #sub-1 .text-sub {
        width: 80%;
        margin: auto;
        border-bottom: 1px solid black;
        margin-bottom: 0px;
    }

    #sub-1 .img-sub {
        margin-left: 100px;
    }

    #sub-1 .table-img-sub {
        left: 0px;
        right: 0px;
    }

    #sub-0 {
        padding: 30px;
        border-bottom: 1px solid black;
    }
}

@media only screen and (max-width: 1000px) {
    .inside-header {
        padding: 0px;
        padding-right: 60px;
    }

    .header {
        padding: 0px;
    }
}

@media only screen and (max-width: 900px) {
    #sub-0 {
        display: block;
    }

    #sub-0 .text-sub {
        margin: auto;
        width: 80%;
    }

    #sub-0 .table-sub {
        display: flex;
        justify-content: center;
    }
}

@media only screen and (max-width: 880px) {
    .inside-header input {
        display: none;
    }

    .inside-header {
        justify-content: center;
    }

    .ava-btn li {
        display: none;
    }

    .ava-btn li:first-child {
        display: flex;
    }
}

@media only screen and (max-width: 650px) {
    .img-sub {
        margin: 0px !important;
    }
}