<ul class="nav navbar-nav navbar-left">
    <li>@Html.ActionLink("Course Topics", "Assigned", "CourseTopics")</li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li>
        @ViewBag.id
        @Html.ActionLink("Profile", "Details", "Trainers")
    </li>
</ul>

