@{
    ViewBag.Title = "Home Page";
}

<style>
    .des {
        height: 100px;
        overflow: scroll;
        overflow-x: hidden;
        text-align: justify;
    }

    h2 {
        text-align: center;
    }
</style>

<div class="jumbotron">
    <img src="https://i.imgur.com/WLETpZa.jpg" alt="" style="width: 100%; height: 100%"/>
</div>

<h1>Topic Catagories</h1>
<div class="row">
    <div class="col-md-4">
        <h2>Cloud Computing</h2>
        <p class="des">
            Cloud Computing has revolutionised the way IT services are delivered and has become an important part of the computing sector. Cloud Computing is internet-hosted computing, which means it uses the internet to deliver data and other IT services such as storage, printing, server facilities and so forth. In other words, the end users or organisations no longer need to have their own extensive network environment on the premises, but can get the same services provided virtually over the internet.
        </p>
        <p class="btn btn-default">@Html.ActionLink("Learn more", "Index", "Topics")</p>
    </div>
    <div class="col-md-4">
        <h2>Business Intelligence</h2>
        <p class="des">
            Data and information is core to any organisation and business process. The necessity of having meaningful information is the key driver for effective decision- making and problem-solving. Business intelligence has evolved from technologies such as decision support systems (DSS) to include tools and methods associated with data mining, data integration, data quality and data warehousing in conjunction with other information management systems and applications.
        </p>
        <p class="btn btn-default">@Html.ActionLink("Learn more", "Index", "Topics")</p>
    </div>
    <div class="col-md-4">
        <h2>Application Development</h2>
        <p class="des">Software drives business and developers drive software – the world is reliant on software, and programming is at the heart of this. Professionalism and critical thinking, supported by an ability to work independently and as part of a team are core skills of a developer. If you can think logically and you enjoy exploring and dismantling problems, working with others to consider requirements and creating ideas and possible solutions you can gain the experience and learn the skills needed to excel as an Application Developer.</p>
        <p class="btn btn-default">@Html.ActionLink("Learn more", "Index", "Topics")</p>
    </div>
</div>