#start {
    display: inline-block;
}

#finish, #guide {
    display: none;
}

#guide .text{
    justify-content: space-around;
    height: 50%;
    margin-top: 150px;
}

#start, #finish, #guide {
    position: absolute;  
    background-color: white;
    height: 600px;
    width: 600px;
    z-index: 100;
    top: calc(50% - 300px);
    right: calc(50% - 300px);
    text-align: center;
    border: 10px solid black;
}


#canvas {
    position: absolute;
    top: calc(50% - 300px);
    right: calc(50% - 300px);
}

body {
    background-color: aquamarine;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.button {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.score {
    font-size: 40px;
}